@require '../../styles/palette.styl';

.menu-container
  max-height 200px
  overflow-y auto

.menu-item
  padding 8px
  cursor pointer
  text-align left
  &:hover
    background-color color-grey-98
  &.active-menu-item
    color color-primary
