@require '../styles/palette.styl';

.base
  background color-grey-98
  min-height 100vh

.content
  padding 20px
  max-width 600px
  text-align center
  margin auto

.logo
  color color-primary
  font-size 26px
  margin-bottom 1em
  &:hover
    color color-primary
