@require '../styles/palette';

.bill
  padding 10px 0px
  display flex

.bill-detail
  flex 1
  display flex
  justify-content space-between
  margin-left 20px
  border-bottom 1px solid color-grey-85
  padding-bottom 3px

.bill-detail-left
  text-align left

.icon-cash-flow
  display inline-block
  width 40px
  height 40px
  line-height @height
  color white
  border-radius 50%

.bill-amount
  font-size 26px

.category
  font-size 16px
  color color-grey-20

.time
  color color-grey-70
