@require '../styles/palette.styl';

.header
  display flex
  justify-content space-between
  align-items flex-end

.icon-plus
  border-radius 50%
  font-size 26px
  color white
  color color-primary
  cursor pointer

.content
  border 1px solid color-grey-85
  margin-top 6px

.inner-box
  padding 20px
  border-bottom 1px solid color-grey-85
  &:last-child
    border-bottom none

.show-type
  margin-bottom 1em

.filter
  display flex
  justify-content space-between

.filter-row
  margin 8px 0px

.filter-right
  display flex
  line-height 3

.summary-data
  text-align right

.no-more
  color color-grey-70
  margin 12px 0
