color-primary = #DB497D

color-focus = #00B0FB
color-danger = #CB2431
color-error = #F31E1E

// grey colors
color-grey-10 = #1A1A1A
color-grey-20 = #333333
color-grey-30 = #4B4B4B
color-grey-40 = #666666
color-grey-50 = #7F7F7F
color-grey-60 = #999999
color-grey-70 = #B3B3B3
color-grey-75 = #BFBFBF
color-grey-80 = #CCCCCC
color-grey-85 = #D9D9D9
color-grey-90 = #E5E5E5
color-grey-95 = #F2F2F2
color-grey-98 = #FAFAFA
